/*------------------------------
    HAMBERGER MENU
-------------------------------*/
@media only screen and (min-width: 992px) {
    .stellarnav ul li ul {
        transition: 0.3s ease-in-out !important;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        margin-top: 5px;
        transform-origin: left center;
    }
    .stellarnav ul li.drop-left ul{
        transform-origin: right center;
    }

    .stellarnav ul li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
    }
}
.mainmenu-area svg.ham {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu-toggle.full {
    text-indent: -999px;
}

.dd-toggle {
    background: #e4eaf3 none repeat scroll 0 0 !important;
}

.stellarnav.mobile li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamRotate180.active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 3.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 20 160;/*40 160*/
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
    transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
    transition: transform 400ms, stroke-dashoffset 400ms;
    transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    /*stroke-dashoffset: -20px;*/
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

/*----------------------------
    TOP BAR CSS
------------------------------*/
.top-bar {
    background: #ffffff;
    padding: 10px 0;
}

.top-left-contact p {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 1;
}

.top-left-contact p i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.top-left-contact p:last-child {
    margin-right: 0;
}
.top-bar .social-profile {
    text-align: right;
}

.top-bar .social-profile ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-bar .social-profile ul li {
    display: inline-block;
}

.top-bar .social-profile ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #00C1B1;
    text-align: center;
    padding-top: 3px;
    color: #ffffff;
    border-radius: 3px;
    margin: 0 3px;
}

.top-bar .social-profile ul li a:hover {
    background: #ffffff;
    color: #00C1B1;
    box-shadow: 0 16px 32px rgba(0,0,0,.2);
}
/* --------------------------- 
    MENU CSS
------------------------------*/
.stellarnav {
    display: inline-block;
    margin: 0 auto;
    width: auto;
}
.stellarnav.light {
    background: inherit;
}

.header-top-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.mainmenu-area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999;
}

.mainmenu-area-bg {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.is-sticky .mainmenu-area-bg {
    opacity: .8;
}

.navbar {
    border-bottom: 0 none;
    border-top: 0 none;
    margin-bottom: 0;
}

.header-top-area .navbar > .container.container__full {
    width: 95%;
}

.navbar-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    /*position: absolute;*/
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999;
}

.is-sticky .navbar-header {
    margin-top: 0;
}

.navbar-header h3 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    height: 100px;
    margin-bottom: 0;
    /* padding-left: 30px; */
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-right: 50px;
    width: 100%;
}

.is-sticky .navbar-header h3 {
    height: 60px;
}

.navbar-header h3 a {
    color: #ffffff;
}

.is-sticky .navbar-header h3 a {
    color: #252525;
}

.navbar-brand > img {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-logo-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    position: relative;
    /*left: 15px;*/
}

.is-sticky .custom-logo-link {
    min-height: 80px;
    margin: 0;
    padding: 0;
}

.custom-logo-link img {
    max-width: 200px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.is-sticky .custom-logo-link img {
    max-width: 150px;
}

ul#nav {
    float: right;
}

.stellarnav.dark {
    background: rgba(0, 0, 0, 0);
}

.stellarnav ul ul {
    -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
}

ul#nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding: 40px 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
ul#nav li a {
	font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}

ul#nav li li a {
    color: #252525;
}

.is-sticky ul#nav li a {
    padding: 30px 15px;
    color: #252525;
}

/*.is-sticky ul#nav li ul li a {
    color: #ffffff;
}*/

ul#nav li ul a,
.is-sticky ul#nav li ul a {
    border-bottom: 1px solid #f3f3f3;
    padding: 12px 12px 12px 15px;
}

.is-sticky ul#nav li ul li:last-child a,
ul#nav li ul li:last-child a {
    border-bottom: 0;
}

ul#nav li a:hover,
ul#nav li.active > a,
ul#nav li.current-menu-parent > a,
ul#nav li.current-menu-item > a,
ul#nav li.hover > a,
.is-sticky ul#nav li > a:hover,
.is-sticky ul#nav li ul li > a:hover,
.is-sticky ul#nav li.active > a,
.is-sticky ul#nav li.hover > a,
.is-sticky ul#nav li.current-menu-parent > a,
.is-sticky ul#nav li.current-menu-item > a {
    /*color: #00C1B1;*/
}

.is-sticky ul#nav li > a:hover,
.is-sticky ul#nav li ul li > a:hover,
.is-sticky ul#nav li.active > a,
.is-sticky ul#nav li.hover > a,
.is-sticky ul#nav li.current-menu-parent > a,
.is-sticky ul#nav li.current-menu-item > a {
    color: #00C1B1;
}

.is-sticky ul#nav li ul a:hover,
ul#nav li ul a:hover {
    /*background: #00C1B1 none repeat scroll 0 0;*/
    color: #00C1B1;
}

.is-sticky .mainmenu-area {
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.06);
    z-index: 99999;
}

.menu-toggle.full {
    border: 0;
    font-size: 20px;
    height: 40px;
    letter-spacing: 2px;
    line-height: 1;
    padding-top: 8px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 50px;
    z-index: 9999;
}

.is-sticky .menu-toggle.full {
    color: #292929;
    border-color: #292929;
}

.admin-bar .top-bar {
    position: relative;
    top: 31px;
}

.admin-bar .mainmenu-area {
    top: 30px;
}

.admin-bar .is-sticky .mainmenu-area {
    top: 32px !important;
}
.stellarnav li.has-sub > a:after {
    content: "\e61a";
    font-family: themify;
    margin-left: 5px;
    font-size: 10px;
    border:0;
}
.stellarnav li li.has-sub > a::after {
    margin-left: 0;
    position: absolute;
    right: 10px;
}
.stellarnav li li.has-sub > a::after {
    font-family: 'themify';
    content:"\e649";
    margin-left: 0;
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 16px;
}

.stellarnav li.drop-left li.has-sub > a::after {
    display: inline-block;
    left: -5px;
    margin-right: 0;
    position: relative;
}
.stellarnav li.drop-left li.has-sub > a::after {
    font-family: 'themify';
    content: "\e64a";
    font-size: 12px;
    display: inline-block !important;
    top: 4px;
}
@media only screen and (min-width: 992px){
	.stellarnav ul ul {
    	border-bottom: 3px solid #00C1B1;
	}
	ul#nav li ul li a:hover {
	    background: #f8f8f8 !important;
	}
}
/*----------------------------
    RESPONSIVE
------------------------------*/

/*----------------------------------
    LARGE LAYOUT: 1920px
-----------------------------------*/
@media only screen and (min-width: 1920px) {
    .header-top-area .navbar > .container.container__full {
        width: 95%;
    }

    .is-sticky .mainmenu-area {
        padding-top: 0;
    }

    ul#nav li a {
        padding: 40px 20px;
    }

    .is-sticky ul#nav li a {
        padding: 30px 20px;
    }
}

/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-top-area .navbar > .container.container__full {
        width: 100%;
    }
    .is-sticky .navbar-header {
        margin-top: 2px;
    }

    ul#nav li a {
        padding: 40px 15px;
    }

    .is-sticky ul#nav li a {
        padding: 25px 15px;
    }
}

/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .stellarnav {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .stellarnav.mobile.active {
        padding-bottom: 15px;
    }
    .mainmenu-area svg.ham {
        display: block !important;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .menu-toggle.full,
    .navbar-header h3 a {
        color: #ffffff;
    }

    .line {
        stroke: #ffffff;
    }

    .is-sticky .line {
        stroke: #292929;
    }

    .admin-bar .mainmenu-area {
        top: 46px;
    }

    .admin-bar .is-sticky .mainmenu-area {
        top: 46px !important;
    }

    .admin-bar .top-bar {
        position: relative;
        top: 46px;
    }

    .navbar-header h3 {
        padding-left: 0;
    }

    .navbar-header h3 a {
        color: #ffffff;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse,
    .navbar-toggle {
        border: 2px solid #00C1B1;
        border-radius: 0;
        display: block !important;
    }

    .navbar-toggle .icon-bar {
        background: #00C1B1 none repeat scroll 0 0;
    }

    .navbar-header {
        float: none;
    }

    .navbar-header {
        height: 80px;
        margin: 0;
        padding: 0;
        position: static;
    }

    .custom-logo-link,
    .is-sticky .custom-logo-link {
        left: 0;
        margin-top: 0;
        padding: 0;
    }

    .custom-logo-link img {
        max-width: 150px;
    }

    ul#nav {
        background: #ffffff none repeat scroll 0 0;
        border: 1px solid #e4eaf3;
        width: 100%;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    ul#nav li {
        float: none;
    }

    ul#nav li a {
        color: #00C1B1 !important;
        font-weight: 400 !important;
        height: 40px;
    }

    .is-sticky .navbar-header {
        margin: 0;
        padding: 5px 0;
    }

    .navbar-brand {
        padding: 8px;
    }

    .is-sticky .navbar-brand {
        margin-top: -3px;
    }

    .is-sticky .navbar-brand img {
        margin-top: 5px;
    }

    .is-sticky ul#nav li a,
    ul#nav li a {
        color: #ffffff;
        padding: 10px 15px;
    }

    ul#nav li a::after {
        display: none !important;
    }

    .stellarnav > ul > li:last-child {
        margin-right: inherit;
    }

    .stellarnav ul ul {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    ul.sub-menu a {
        border: 0 none !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        height: 40px;
        padding-left: 30px !important;
        text-transform: capitalize !important;
    }

    ul.sub-menu .sub-menu a {
        padding-left: 45px !important;
    }
    
    ul#nav .current-menu-parent > a,
    .current-menu-parent > a,
    ul#nav li.has-sub.open > a,
    ul#nav li a:hover,
    ul#nav li.active > a,
    ul#nav li.current-menu-item > a,
    ul#nav li.hover > a,
    ul#nav li.open.menu-item-has-children > a {
        background: #00C1B1 !important;
        color: #ffffff !important;
    }
}

/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/
@media only screen and (max-width: 767px) {
    .stellarnav {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .stellarnav.mobile.active {
        padding-bottom: 15px;
    }

    .mainmenu-area svg.ham {
        display: block !important;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .menu-toggle.full,
    .navbar-header h3 a {
        color: #ffffff;
    }

    .line {
        stroke: #ffffff;
    }

    .is-sticky .line {
        stroke: #292929;
    }

    .admin-bar .top-bar {
        position: relative;
        top: 46px;
    }

    .admin-bar .mainmenu-area {
        top: 46px;
    }

    .admin-bar .is-sticky .mainmenu-area {
        top: 0 !important;
    }

    .navbar-header h3 {
        padding-left: 0;
    }

    .navbar-header h3 a {
        color: #ffffff;
    }

    .navbar-header {
        height: 80px;
        margin: 0;
        padding: 0;
        position: static;
    }

    .custom-logo-link,
    .is-sticky .custom-logo-link {
        left: 0;
        margin-top: 0;
        padding: 0;
    }

    .custom-logo-link img {
        max-width: 150px;
    }

    ul#nav {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #e4eaf3;
        width: 100%;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .admin-bar .stellarnav.left ul#nav,
    .admin-bar .stellarnav.right ul#nav  {
        top: 46px;
    }
    
    .admin-bar .is-sticky .stellarnav.left ul#nav,
    .admin-bar .is-sticky .stellarnav.right ul#nav {
      top: 0;
    }
    
    ul#nav li {
        float: none;
    }

    ul#nav li a {
        height: 40px;
        color: #00C1B1 !important;
        font-weight: 400 !important;
    }

    .navbar-brand {
        margin-top: -3px;
        padding: 8px;
    }

    .is-sticky .navbar-brand {
        margin-top: -3px;
    }

    .navbar-brand > img {
        margin-top: 2px;
        width: 90%;
    }

    .is-sticky ul#nav li a,
    ul#nav li a {
        color: #ffffff;
        padding: 10px 15px;
    }

    ul#nav li a::after {
        display: none !important;
    }

    .is-sticky .navbar-brand > img {
        max-width: 100%;
    }

    .header-menu-and-logo {
        min-height: 0;
    }

    .is-sticky .header-menu-and-logo {
        margin-top: 0;
        min-height: 0;
    }

    .stellarnav > ul > li:last-child {
        margin-right: inherit;
    }

    .stellarnav ul ul {
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    ul.sub-menu a {
        border: 0 none !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        height: 40px;
        padding-left: 30px !important;
        text-transform: capitalize !important;
    }

    ul.sub-menu .sub-menu a {
        padding-left: 45px !important;
    }
    ul#nav .current-menu-parent > a,
    .current-menu-parent > a,
    ul#nav li.has-sub.open > a,
    ul#nav li a:hover,
    ul#nav li.active > a,
    ul#nav li.current-menu-item > a,
    ul#nav li.hover > a,
    ul#nav li.open.menu-item-has-children > a {
        background: #00C1B1 !important;
        color: #ffffff !important;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    ul#nav li {
        float: none;
    }
}

/*----------------------------------
    MOBILE & TABLET LAYOUT: 992px
-----------------------------------*/
@media only screen and (max-width: 992px) {
    .stellarnav.left.mobile.active,
    .stellarnav.right.mobile.active{
        padding-bottom: 0;
    }
    .menu-toggle {
        position: absolute;
        right: 15px;
        top: 20px;
        opacity: 0;
    }

    .stellarnav a.location-btn-mobile.third,
    .stellarnav a.call-btn-mobile.third {
        display: none;
    }

    .stellarnav.left a.location-btn-mobile.third,
    .stellarnav.left a.call-btn-mobile.third,
    .stellarnav.right a.location-btn-mobile.third,
    .stellarnav.right a.call-btn-mobile.third {
        display: inline-block;
    }
    .stellarnav.mobile.left .close-menu.third span,
    .stellarnav.mobile.right .close-menu.third span {
        display: none;
    }

    .stellarnav.left ul#nav,
    .stellarnav.right ul#nav{
        max-height: inherit;
    }

    .stellarnav a.dd-toggle .icon-plus:after,
    .stellarnav a.dd-toggle .icon-plus:before {
        border-bottom: solid 1px #777;
    }

    .admin-bar .stellarnav.left ul#nav,
    .admin-bar .stellarnav.right ul#nav  {
        top: 46px;
    }

    ul#nav li a,
    .is-sticky ul#nav li a,
    ul#nav li li a,
    .is-sticky ul#nav li li a {
        height: auto !important;
        padding: 10px 12px;
    }
    .stellarnav.mobile li a.dd-toggle {
        padding: 10px 0 !important;
    }

    .stellarnav.mobile li a.dd-toggle i {
        position: relative;
        left: inherit;
        right: inherit;
        top: inherit;
    }
}

.custom-logo-link.sticky-logo {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 15px !important;
}

.is-sticky .custom-logo-link.sticky-logo {
    opacity: 1;
    visibility: visible;
}

.is-sticky .custom-logo-link.default-logo {
    opacity: 0;
    visibility: hidden;
}
.header-action{
    display: flex;
}
.header-action button,
.header-action a {
    background: #00C1B1 none repeat scroll 0 0;
    border: 2px solid rgba(255,255,255,.30);
    border-radius: 50px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: inline-block;
    height: 50px;
    width: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1;
    margin-left: 30px;
    padding-top: 16px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header-action a.action-button{
    margin-left: 50px;
    padding: 16px 40px;
    width: auto;
}
.header-action button:hover,
.header-action a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #00C1B1;
}

/* ----------------------------
    HEADER TWO
------------------------------ */
.header-alt .header-action a,
.header-alt .header-action button {
    width: 60px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    padding-top: 22px;
    margin-left: 10px;
    background: transparent;
    color: #ffffff;
}
.header-alt .header-action a:hover,
.header-alt .header-action button:hover{
    background: #ffffff;
    border-color: #ffffff;
    color: #4539b4;
}
.header-alt .is-sticky .header-action a,
.header-alt .is-sticky .header-action button {
    background: #00C1B1;
    border-color: #00C1B1;
    color: #ffffff;
}
.header-alt .is-sticky .header-action a:hover,
.header-alt .is-sticky .header-action button:hover{
    background: #ffffff;
    border-color: #ffffff;
    color: #00C1B1;
}

/* ----------------------------------
    HEADER THREE
----------------------------------- */
.header-alt-2 .mainmenu-area {
    margin-top: 20px;
    border: 0;
}
.header-alt-2 .is-sticky .mainmenu-area{
    margin-top: 0;
}
.header-alt-2 .mainmenu-area .container {
    position: relative;
    border: 4px solid #dfe8f5;
    transition: 0.3s;
}
.header-alt-2 .is-sticky .mainmenu-area .container {
    border: 4px solid #ffffff;
}
.header-alt-2 .menu-bg-and-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.header-alt-2 .menu-bg-and-layer:after{
    position: absolute;
    width: calc( 100% - 30px );
    content: "";
    height: 100%;
    top: 25px;
    background: #f3f8ff;
    left: 15px;
    z-index: -1;
}
.header-alt-2 ul#nav li a {
    color: #404873;
}
.header-alt-2 ul#nav li a:hover{
    color:#00C1B1;
}

.header-alt-2 .header-action {
    margin-left: 50px;
}

.header-alt-2 .header-action a {
    margin-left: 0;
    border: 0;
    width: auto;
    height: auto;
    background: transparent;
    color: black;
    box-shadow: inherit;
    padding-top: 8px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.header-alt-2 .header-action a:hover {
    color: #00C1B1;
}
/* --------------------------
    HEADER FOUR
---------------------------- */
.header-alt-3 .header-action {
    margin-left: 50px;
}
.header-alt-3 .header-action a {
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    margin-left: 5px;
}
.header-alt-3 .header-action a:hover{
    background: #ffffff;
    color: #00C1B1;
}
.header-alt-3 .is-sticky .header-action a {
    color: #404873;
}
.header-alt-3 .is-sticky .header-action a:hover {
    background: #00C1B1;
    color: #ffffff;
}
/* ============================================ */
a.cart-contents.cart-button {
    display: none;
}
.header-widget-area {
    position: fixed;
    right: -350px;
    top: 0;
    background: #ffffff;
    z-index: 9999;
    height: 100vh;
    text-align: center;
    max-width: 500px;
    width: 350px;
    padding: 20px;
    padding-top: 50px;
    transition: 0.5s;
    overflow-x: hidden;
}
.header-widget-area.open_widget {
    right: 0;
}
span.close-header-widget {
    position: absolute;
    left: 20px;
    font-size: 25px;
    top: 50px;
    cursor: pointer;
    transition: 0.3s;
}
span.close-header-widget:hover {
    color: #00C1B1;
}

.header-widget-area .single-widgets {
    padding: 0;
    border: 0;
    padding-top: 40px;
}
.header-widget-area .single-widgets:first-child {
    margin-top:40px;
}
.header-widget-area .single-widgets .widget-title h3 {
    margin-bottom: 20px;
}